@font-face {
    font-family: "avo";
    src: url("/assets/fonts/UTM\ Avo.ttf");
}
@font-face {
    font-family: "avo_bold";
    src: url("/assets/fonts/UTM\ AvoBold.ttf");
}
@font-face {
    font-family: "avo_bold_italic";
    src: url("/assets/fonts/UTM\ AvoBold_Italic.ttf");
}
@font-face {
    font-family: "avo_italic";
    src: url("/assets/fonts/UTM\ AvoItalic.ttf");
}
@font-face {
    font-family: "cookies";
    src: url("/assets/fonts/UTM\ Cookies.ttf");
}